.btn-blue {
	background-color: #606c38;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold;
	color: white;
	font-family: "Roboto", sans-serif;
}


.btn-blue:hover {
	background-color: #442804;
	color: white;
}

